/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:space-evenly;
	align-items:center
}
img{
	width:60%;
	height:150px;
	margin-left:-50%;
	object-fit:cover
}
#btn{
	padding:20px;
	height:10%;
	width:10%;
	border-radius:1%;
	background-color:red;
	

}